@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

/*Aqui comienza la parte 1 by:Estrella*/
#hero {
    padding-top: 23px;
}

#navbar {
    width: 1152px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#logo {
    display: flex;
    align-items: center;
}

#menu {
    display: flex;
    align-items: center;
}

.menu_bar {
    list-style: none;
    display: flex;
}

.menu_link {
    color: #222;
    font-size: 16px;
    font-family: 'Hind Siliguri', sans-serif;
    text-decoration: none;
    padding: 9px 24px;
}

.menu_link:hover {
    color: #FF7235;
}

.sign_up_button {
    padding: 9px 36px;
    border: 1px solid #FF7235;
    border-radius: 8px;
    color: #FF7235;
    text-decoration: none;
    margin-left: 160px;
    height: 20px;
    display: block;

    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 95%;
}

#parrafo1{
    position: absolute;
    width: 540px;
    height: 288px;
    left: 165px;
    top: 120px; 
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 100%;
    color: #292830;
}

#parrafo2{
    position: absolute;
    width: 540px;
    height: 39px;
    left: 165px;
    top: 500px; 
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 39px;

    color: #BDBDBD;
}

#parrafo3{
    position: absolute;
    width: 249px;
    height: 39px;
    left: 400px;
    top: 590px;
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 39px;
    color: #BDBDBD;
}

#hm{
    position: absolute;
    left: 51.04%;
    right: 11.58%;
    top: 30%;
    bottom: 23.44%;
}

.try_demo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: absolute;
    width: 225px;
    height: 75px;
    left: 165px;
    top: 600px;
    background: #FF7235;
    border-radius: 8px;

    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 39px;
    color: white;
}

/*Aqui comienza la parte 2 by:robert?*/ 

#overview01{
    position: absolute; 
    width: 110px;
    height: 625px;
    left: 150px;
    top: 807px;
}

#overview02{
    position: absolute; 
    width: 100px;
    height: 200px;
    left: 0px;
    top: 720px;
    z-index: -2;
}

#overviewC01{
    position: absolute; 
    width: 100px;
    height: 200px;
    left: 0px;
    top: 720px;
    z-index: -1;
}

#overviewA01{
    position: absolute; 
    width: 100px;
    height: 100px;
    left: 150px;
    top: 1500px;
}

#overviewA02{
    position: absolute; 
    width: 100px;
    height: 100px;
    left: 400px;
    top: 1500px;
}

#overviewA03{
    position: absolute; 
    width: 100px;
    height: 100px;
    left: 630px;
    top: 1500px;
}

#overviewA04{
    position: absolute; 
    width: 100px;
    height: 100px;
    left: 850px;
    top: 1500px;
}

#overviewA05{
    position: absolute; 
    width: 100px;
    height: 100px;
    left: 1100px;
    top: 1510px;
}

/*Aqui comienza la parte 3 by:cezane*/

/*#alwaysonline{
    position: absolute;
    width: 249px;
    height: 39px;
    left: 400px;
    top: 1800px;    
}
*/
#textouno {
    position: absolute;
    width: 172px;
    height: 36px;
    left: 160px;
    top: 1650px;
    
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    text-transform: uppercase;
    color: #BDBDBD;
}

#textodos {
    position: absolute;
    width: 540px;
    height: 288px;
    left: 160px;
    top: 1670px;

    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 100%;
    color: #292830;
}

#textotres {
    position: absolute;
    width: 540px;
    height: 117px;
    left: 165px;
    top: 2100px;
    
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 39px;
    color: #BDBDBD;
}

#buttomuno{
    position: absolute;
    width: 152px;
    height: 24px;
    left: 160px;
    top: 2260px;
}

.bottom_uno{
    color: #FF7235;
    font-size: 20px;
    font-family: 'Hind Siliguri', sans-serif;
    text-decoration: none;
}
#imagenuno{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 780px;
    top: 1740px;
}

#textocuatro {
    position: absolute;
    width: 163px;
    height: 36px;
    left: 735px;
    top: 1800px;

    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    text-transform: uppercase;
    color: #BDBDBD;
}

/*Aqui comienza la parte 4 by:Robert*/

#freetext1{
    position: absolute;
    width: 163px;
    height: 36px;
    left: 735px;
    top: 2400px;
    
    font-family: 'Hind Siliguri';
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    text-transform: uppercase;
    color: #BDBDBD;
}

#freetext2{
    position: absolute;
    width: 500px;
    height: 288px;
    left: 735px;
    top: 2400px;

    font-family: 'Hind Siliguri';
    font-weight: 700;
    font-size: 96px;
    line-height: 100%;
    color: #292830;
}

#freetext3{
    position: absolute;
    width: 500px;
    height: 117px;
    left: 735px;
    top: 2800px;
    
    font-family: 'Hind Siliguri';
    font-weight: 400;
    font-size: 24px;
    line-height: 39px;
    color: #BDBDBD;
}

#freeboton{
    position: absolute;
    width: 152px;
    height: 24px;
    left: 735px;
    top: 2950px;
}

.boton{
    color: #FF7235;
    font-size: 20px;
    font-family: 'Hind Siliguri', sans-serif;
    text-decoration: none;  
}

#freeimagen{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 150px;
    top: 2500px;
}

/*Aqui comienza la parte 5 by:Cezane*/

#dialogouno{
    position: absolute;
    width: 540px;
    height: 22px;
    left: 165px;
    top: 3150px;
    
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
    text-transform: uppercase;
    color: #BDBDBD;
}

#dialogodos{
    position: absolute;
    width: 540px;
    height: 288px;
    left: 165px;
    top: 3150px;
    
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 100%;
    color: #292830;
}

#dialogotres{
    position: absolute;
    width: 540px;
    height: 117px;
    left: 165px;
    top: 3550px;
    
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 39px;
    color: #BDBDBD;
}

#buttomdos{
    position: absolute;
    width: 152px;
    height: 24px;
    left: 165px;
    top: 3725px;
}

.bottom_dos{
    color: #FF7235;
    font-size: 20px;
    font-family: 'Hind Siliguri', sans-serif;
    text-decoration: none; 
}

#imagendos{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 770px;
    top: 3260px;
}

/*Aqui comienza la parte 6 by:Robert*/

#product{
    position: absolute;
    width: 700px;
    height: 150px;
    left: 165px;
    top: 3900px;
    font-family: 'Hind Siliguri';
    font-weight: 700;
    font-size: 96px;
    color: #292830;
}

#lorem{
    position: absolute;
    width: 350px;
    height: 156px;
    left: 925px;
    top: 4020px; 
    font-family: 'Hind Siliguri';
    font-weight: 400;
    font-size: 24px;
    line-height: 39px;
    color: #BDBDBD;
}

.plataform1{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 300px;
    top: 4400px;
}

.plataform2{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 700px;
    top: 4400px;
}

.plataform3{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 1100px;
    top: 4400px;
}

.titulo1{
    position: absolute;
    width: 191px;
    height: 30px;
    left: 220px;
    top: 4450px;
    font-family: 'Hind Siliguri';
    font-weight: 500;
    font-size: 30px;
    color: #292830;
}

.titulo2{
    position: absolute;
    width: 191px;
    height: 30px;
    left: 640px;
    top: 4450px;
    font-family: 'Hind Siliguri';
    font-weight: 500;
    font-size: 30px;
    color: #292830;
}

.titulo3{
    position: absolute;
    width: 250px;
    height: 30px;
    left: 1020px;
    top: 4450px;
    font-family: 'Hind Siliguri';
    font-weight: 500;
    font-size: 30px;
    color: #292830;
}

.lorem1{
    position: absolute;
    width: 230px;
    height: 46px;
    left: 200px;
    top: 4530px;
    font-family: 'Hind Siliguri';
    font-weight: 400;
    font-size: 14px;
    color: #BDBDBD;
    text-align: center;
}

.lorem2{
    position: absolute;
    width: 230px;
    height: 46px;
    left: 620px;
    top: 4530px;
    font-family: 'Hind Siliguri';
    font-weight: 400;
    font-size: 14px;
    color: #BDBDBD;
    text-align: center;
}

.lorem3{
    position: absolute;
    width: 230px;
    height: 46px;
    left: 1005px;
    top: 4530px;
    font-family: 'Hind Siliguri';
    font-weight: 400;
    font-size: 14px;
    color: #BDBDBD;
    text-align: center;
}

/*Aqui comienza la parte 7 by:Estrella*/
#planes1{
    position: absolute;
    width: 1110px;
    height: 72px;
    left: 165px;
    top: 4800px;
    
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 100%;
    text-align: center;
    color: #292830;
}

#planes2{
    position: absolute;
    left: 165px;
    top: 5050px;
}

#planes3{
    position: absolute;
    left: 570px;
    top: 5050px;
}

#planes4{
    position: absolute;
    left: 980px;
    top: 5050px;
}

.planes_button1{
    position: absolute;
    top: 5400px;
    left: 150px;

    padding: 8px 20px;
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FF7235;
    text-decoration: none;
    
    background: white;
    border: 1px solid #FF7235;
    border-radius: 6px;
}

.planes_button2{
    position: absolute;
    top: 5400px;
    left: 570px;

    padding: 8px 20px;
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: white;
    text-decoration: none;
    
    background: #FF7235;
    border: 1px solid #FF7235;
    border-radius: 6px;
}

.planes_button3{
    position: absolute;
    top: 5400px;
    left: 980px;

    padding: 8px 20px;
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FF7235;
    text-decoration: none;
    
    background: white;
    border: 1px solid #FF7235;
    border-radius: 6px;
}

/*Aqui comienza la parte 8 by:Estrella*/

#testimonial{
    position: absolute;
    width: 920px;
    height: 192px;
    left: 210px;
    top: 5600px;
    
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 100%;
    text-align: center;
    color: #292830;
}

#testimonial1{
    position: absolute;
    left: 0px;
    top: 6000px;
}

#testimonial2{
    position: absolute;
    left: 650px;
    top: 6300px;
}

/*Aqui comienza la parte 9 by:Cezane*/

#banner3{
    position: absolute;
    width: 1440px;
    height: 750px;
    left: 0px;
    top: 6500px;
    z-index: -2;
    opacity: 0.8;
}

#banner1{
    position: absolute;
    width: 920px;
    height: 144px;
    left: 260px;
    top: 6600px;
    
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 100%;
    
    /* or 72px */
    text-align: center;
    
    color: #FFFFFF;
}

#banner2{

    position: absolute;
    width: 920px;
    height: 36px;
    left: 260px;
    top: 6800px;
    
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 100%;
    
    /* identical to box height, or 36px */
    text-align: center;
    
    color: #FFFFFF;
}

#banner4{
    position: absolute;
    width: 1295px;
    height: 340.23px;
    left: 30px;
    top: 6850px;
    z-index: -1;
}

.banner_bottom{
    position: absolute;
    top: 6950px;
    left: 620px;

    padding: 8px 20px;
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FF7235;
    text-decoration: none;
    
    background: white;
    border: 1px solid #FF7235;
    border-radius: 16px;
}

/*Aqui comienza la parte 10 by:Estrella*/

#iconox{
    position: absolute;
    left: 107px;
    top: 7330px;
}

.menu1{
    position: absolute;
    left: 420px;
    top: 7300px;
    list-style: none;
}

.links1{
    font-family: 'Hind Siliguri';
    font-weight: 500;
    font-size: 24px;
    color: #292830;
}

.menufinal{
    width: 100px;
    font-family: 'Hind Siliguri';
    font-weight: 500;
    font-size: 18px;
    color: #292830; 
    text-decoration: none;
}

.menufinal:hover{
    color: #f09206;
}

.menu2{
    position: absolute;
    left: 600px;
    top: 7300px;
    list-style: none;
}

.legal1{
    font-family: 'Hind Siliguri';
    font-weight: 500;
    font-size: 24px;
    color: #292830;
}

.menufinal2{
    width: 100px;
    font-family: 'Hind Siliguri';
    font-weight: 500;
    font-size: 18px;
    color: #292830; 
    text-decoration: none;
}

.menufinal2:hover{
    color: #f09206;
}

#new{
    position: absolute;
    width: 204px;
    height: 23px;
    left: 900px;
    top: 7360px;
    color: #292830;
    font-family: 'Hind Siliguri';
    font-weight: 500;
    font-size: 24px;
    z-index: 2;
}

#over{
    position: absolute;
    width: 400px;
    height: 23px;
    left: 900px;
    top: 7420px;
    color: #BDBDBD;
    font-family: 'Hind Siliguri';
    font-weight: 400;
    font-size: 20px;
    z-index: 2;
}

#we{
    position: absolute;
    width: 400px;
    height: 23px;
    left: 900px;
    top: 7520px;
    color: #BDBDBD;
    font-family: 'Hind Siliguri';
    font-weight: 400;
    font-size: 14px;
    z-index: 2;
}

.content-sub{
    position: absolute;
    left: 900px;
    top: 7480px;
    z-index: 1;
}
.content-sub form{
    width: 100%;
    max-width: 440px;
    display: flex;
}

.content-sub form .campo{
    width: 349px;
    height: 45px;
    font-size: 16px;
    border: 1px solid #fc8f00;
    border-radius: 8px 8px 8px 8px;
    outline: 0px;
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

.content-sub form .btn-sub{
    width: 102px;
    height: 48px;
    border: 1px solid #fc8f00;
    font-size: 16px;
    border-radius: 8px 8px 8px 8px;
    background:#fc8f00;
    color: #FFFFFF;
    cursor: pointer;
    outline: 0px;
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 16px;
}
.content-sub form .btn-sub:hover{
    background: #ffdc84;
}

#xpensee1{
    position: absolute;
    width: 200px;
    height: 16px;
    left: 100px;
    top: 7700px;
    font-family: 'Hind Siliguri';
    font-weight: 400;
    font-size: 14px;
    color: #292830;
}

#xpensee2{
    position: absolute;
    width: 200px;
    height: 16px;
    left: 250px;
    top: 7700px;
    font-family: 'Hind Siliguri';
    font-weight: 400;
    font-size: 14px;
    color: #292830;
}

#xpensee3{
    position: absolute;
    width: 200px;
    height: 16px;
    left: 630px;
    top: 7700px;
    font-family: 'Hind Siliguri';
    font-weight: 400;
    font-size: 14px;
    color: #292830;
}

.iconos{
    text-decoration: none;
    list-style: none;
}

.icono1{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 1100px;
    top: 7715px;
}

.icono2{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 1150px;
    top: 7715px;
}
.icono3{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 1200px;
    top: 7715px;
}